
header{    
    background-position: center center;
    height: 350px;
    background-image: url("/img/bg2.jpg");
}

h1{
    background-color: rgb(248, 248, 248, .25);
    margin-top: 80px;
    padding-left: 11rem; 
    font-family: Verdana;
    font-style: bold;
    color: #416618;
}

h2{    
    margin-top: 10px;
    font-style: bold;
    color: #416618;
    margin-left: 3px ;
    border-left: dotted; 
    font-variant: small-caps;  
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h3{    
    font-weight: bold;
    color: #894f3b;    
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


li{
    list-style-image: url(../img/lemon2.png);
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;
    text-transform: uppercase;   
}

.navbar{
    background-color: #fd8800;
}

p{
    text-align: justify;
    text-indent: 15px;
}

ul{
    float: left;
}

li{
    margin-left: 40px;
}